<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/asset/style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <!-- Document Header / Site Header -->
    <header class="main-header">
      <!-- include the menu component -->
      <%- include('../components/menu.html') %>
    </header>

    <!-- Document content / Main content -->
    <div class="main-content">
      <div class="container mt-5"></div>
    </div>
  </body>
</html>
